﻿@font-face {
    font-family: 'DIMIS___';
    src: url('../fonts/DIMIS___.TTF') format('truetype');
}
@font-face {
    font-family: 'twitchy-tv';
    src: url('../fonts/twitchy-tv.ttf') format('truetype');
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*disable spinbox on number inputs*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.StoryItem {
    background-color:#f7f7f7;
    padding-left:10px;
    padding-top:1px;
    padding-bottom:1px;
}

.StoryItem h3 {
    color:#3b5998;
}

.StoryItem h4 {
    color:#8b9dc3;
    padding-left:25px;
}

.StoryItem h5 {
    color:#888888;
    padding-left:25px;
}
.HomeStoryItem {   
     margin: 0 auto;  
    max-width: 500px;
    align-content:center;
    background-color:#f7f7f7;
    padding-left:10px;
    padding-top:1px;
    padding-bottom:1px;
}

.HomeStoryItem h3 {
    color:#3b5998;
}

.HomeStoryItem h4 {
    color:#8b9dc3;
    padding-left:25px;
}

.HomeStoryItem h5 {
    color:#888888;
    padding-left:25px;
}

.HomeNewsTitle h5
{ 
      margin: 0 auto;  
    max-width: 500px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#0000D5;
    font-weight: bold;
    outline: #00FFFF solid thick;
    outline-width: 15px;
    text-align: center;
}
.FooterCenter
{
    text-align: center;
}
.UserItem {
    padding-left:50px;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
}
.AboutUsWhyWeMadeItHeader
{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#0000D5;
    font-weight: bold;
    text-align: center;
}
.AboutUsWhyWeMadeIt
{
    margin: 0 auto;  
    max-width: 750px;
    background-color:#000000;
    font-size: 24px;
    font-family: fantasy,serif;
    color:#00FFD5;
    font-weight: bold;
    outline: #000000 double thick;
    outline-width: 15px;
    text-align: center;
}

.AboutUsUsers
{
        margin: 0 auto;  
    max-width: 750px;
    font-family: fantasy,serif;
    text-align: center;
    outline: #000000  solid;
    outline-width: 5px;
    font-size: 18px;
    font-weight: bold;
}
.AboutImage
{
    margin: 0 auto;  
    max-width: 200px;
    outline: #000000  solid;
    outline-width: 5px;
}
 .AboutName
{
    margin: 0 auto;  
    max-width: 250px;
    background-color:#000000;
    font-size: 28px;
    font-family: fantasy,serif;
    color:#ffd800;
    font-weight: bold;
}

.AboutDescription
{
    font-size: 24px;
    margin: 0 auto;  
    max-width: 500px;
    background-color:#E1FFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.AboutEducation
{
    font-size: 24px;
    margin: 0 auto;  
    max-width: 500px;
    background-color:#FFD0A0;
    padding-top: 15px;
    
}
.AboutUsUsers h4
{
    font-size: 28px;
    font-family: Impact;
    outline: #000000  solid;
    outline-width: 5px;
}
a.menuLinks
{ 
    margin-top: -20px;
    font-family:twitchy-tv;
    font-size: 20px;
    color: #ffffff;
    float: left;
}

.myFooter
{
   background: #0E9DD9;
   padding: 10px 0;
   position:fixed;
   bottom:0;
   width:100%;
   z-index: -1; 
}
a.AboutUsLink
{    
    display: block;
    margin: 0 auto; 
    text-align:center;
    font-size: 14px;
    color: #ffffff;

}