﻿@model IEnumerable<TwitchGuide.Models.SiteNews>

@{
    ViewBag.Title = "NewsIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @foreach (var item in Model)
    {
        <hr />
        <div class="StoryItem">
            <h3>@Html.DisplayFor(modelItem => item.News.Title)</h3>
            <h4>@Html.DisplayFor(modelItem => item.News.Content)</h4>
            <h5>Added by @Html.DisplayFor(modelItem => item.User.Username) on @Html.DisplayFor(modelItem => item.News.DateAdded.Date)</h5>
            <br />
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsID })              @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })


        </div>
    }
